.category {
    height: 330px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  
  .category img {
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
  }
  .category a {
    text-decoration: none;
    color: rgb(35, 35, 35);
  }
  
  .category h2,
  .category p {
    padding: 5px;
    margin-left: 15px;
  }
  
  .category p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(9, 132, 209);
  }
  
  .category p:hover {
    color: #c7511f;
  }
  
  .category__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1600px;
    gap: 40px;
    position: relative;
    margin-top: -20%;
    place-items: center;
    margin-inline: auto;
  }